.title {
    font-family: Roboto, serif;
}

.subtitle {
    font-weight: lighter;
}

.album-container .top {
    margin-bottom: 60px;
}

@media (max-width: 600px) {
    .track-header {
        display: none;
    }
}

.input-group-dark {
    background-color: #333;
  }
  
.form-control-dark {
    background-color: #333;
    border-color: #666;
    color: #fff;
}
  
.form-control-dark:focus {
    background-color: #333;
    color: #fff;
    border: 0px;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.find-album {
    width: 50px;
}