.brand-tune {
    font-family: Roboto, sans-serif;
    color: #ffff;
}
  
.brand-chatter {
    font-family: Roboto, sans-serif;
    color: #abdbe3;
}

.nav-link {
    color: #FFFF;
}

.nav-link:hover {
    color: #abdbe3;
}
  
.navbar {
    margin-bottom: 120px;
}

.nav-link-small {
    font-size: 15px;
}

.nav-link.active-link {
    color: #abdbe3; /* Defina a cor desejada para o link ativo */
}

.nav-link.active-link:hover {
    color: #abdbe3;
}