.album-card-carousel-container .album-card {
    width: 100%;
    margin-bottom: 100px;
    border-radius: 5px;
    transition: filter 0.3s ease;
}

.home-text {
  font-weight: lighter;
}

.album-cover {
  width: 100%;
  margin-bottom: 100px;
  border-radius: 5px;
  transition: filter 0.3s ease;
}